#search-form {
    max-width: calc(100% - 2em);
    margin-bottom: 1em;
    background-color: #f2f2f2;
    padding: 1em;
}

label {
    margin: 10px 0;
}

button{
    margin-top: 10px;
}

.pagination {
    display: flex;
    padding: .5rem;
    flex-wrap: wrap;
}

.pagination a {
    margin-right: 1rem;
    text-decoration: none;
    color: black;
}

.pagination .selected-page-number {
    font-weight: bold;
    text-decoration: underline;
}
