{% extends 'base.html' %}

{% block title %}Exports{% endblock %}

{% block meta %}
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
{% endblock %}

{% block content %}
  <div>
      <h1>
        Exports
      </h1>
      <p>
          Exports live in instance/exports, but downloading one will add a copy to your downloads folder.
      </p>
      <table>
        <thead>
            <tr>
                <th>Download</th>
                <th>Time</th>
                <th>Filename</th>
            </tr>
        </thead>
        <tbody>
            {% set ns = namespace(count=0) %}
            {% for row in exports %}
            {% set ns.count = ns.count + 1 %}
            <tr>
                <td><a href="/exports?download_id={{ row.id }}"> Download</a></td>
                <td>{{ row.created_at }}</td>
                <td>{{ row.filename }}</td>
            </tr>
            {% endfor %}
            {% if ns.count == 0 %}
                No exports made yet - you can export completions from the prompt manifest screen (the prompt search area). <br/><br/>
            {% endif %}
        </tbody>
    </table>
  </div>
{% endblock %}
