{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div>
      <h1>
        Welcome!
      </h1>
      <p>
        Welcome to Praetor, a dataset exploration tool.
      </p>
      <p>
        See your prompt manifest <a href="/manifest">here</a>.
      </p>
      <div>
          <h2>
              About
          </h2>
          <p>
              Praetor is a super lightweight finetuning data and prompt management tool.
              The setup requirements are minimal, and so is the complexity.
          </p>
          <p>
              In general, the system works like this: you start with a Project.
              A project has associated with it some prompt styles, which define format strings for the prompts.
              You can then add prompts in a particular style and then one or more completions to those prompts.
              When you're done editing prompts or completions, you can export that data in a json format.
              You can also import data in the same format.
              <br/><br/>
              Thus the hierarchy goes:
              <pre>Projects --> Styles --> Prompts --> Completions</pre>
          </p>
      </div>
  </div>
{% endblock %}
