{% extends 'base.html' %}

{% block title %}Tasks{% endblock %}

{% block meta %}
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
{% endblock %}

{% block content %}
  <div>
      <h1>
        Tasks
      </h1>
      <p>
          Tasks are long-running processes, such as large exports or large imports.
      </p>
      <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for row in tasks %}
            <tr>
                <td>{{ row.created_at }}</td>
                <td>{{ row.type }}</td>
                <td>{{ row.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
